

:root, :root[light] {
	--scrollThumb: #bbb;
	--pageBg: white;

	--textColor: #333;
	--darkText: #949a9f;
	--darkTextHighlight:  #abc;
	--darkTextLink: #47a;

	--navH3Bg: white;
	--navColor: #777;
	--navColor2: #777;
	--navHighlight: #080;

	--h2Color: #542;
	--h3Color: #526847;
	--h4Color: black;
	--h4ColorUnderline: black;

	--linkColor: #00c;
	--dfnColor: #40f4;


	--quoteBg: #eee;
	--quoteColor: #8884;

	--highlightBg: #d8efcc;
	--highlightBorder: #430;

	--companionBg: #ccd8ef;
	--companionBorder: #430;
	--companionColor: #448;

	--tableBorder: #ccc;
	--imgBorder: black;
	--smallColor: inherit;
}

:root[dark] {
	--scrollThumb: #456;
	--pageBg: #111 url('/common/img/site/blackstone.jpg');
	--pageBgColor: #1a1a1a;

	--textColor: #949a9f;
	--darkText: #949a9f;
	--darkTextHighlight:  #abc;
	--darkTextLink: #47a;

	--navH3Bg: #1a1a1a;
	--navColor: #949a9f;
	--navColor2: #747a7f;
	--navHighlight: #080;

	--h2Color: #876;
	--h3Color: #585;
	--h4Color: #ddd;
	--h4ColorUnderline: #555;

	--linkColor: #47a;
	--dfnColor: #358;


	--quoteBg: #5555;
	--quoteColor: #8884;

	--highlightBg: #273027;
	--highlightBorder: #464;

	--companionBg: #234;
	--companionBorder: #456;
	--companionColor: #78a;

	--tableBorder: #ccc;
	--imgBorder: black;
	--smallColor: #747a7f;
}

:root body::-webkit-scrollbar { width: 14px; height: 14px }
:root ::-webkit-scrollbar { width: 14px; height: 14px }
:root[dark] body::-webkit-scrollbar {background-color: var(--pageBgColor) }
:root[dark] ::-webkit-scrollbar { background-color: transparent }

/* ┌─────────────────╮
 * |Main Layout      |
 * └─────────────────╯*/
@font-face {
	font-family: "Open Sans";
	font-weight: 300;
	src: url("/common/fonts/Open Sans 300.woff2") format("woff")
}
@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	src: url("/common/fonts/Open Sans 400.woff2") format("woff")
}
@font-face {
	font-family: "Open Sans";
	font-weight: bold;
	src: url("/common/fonts/Open Sans 600.woff2") format("woff")
}
@font-face {
	font-family: "Alegreya Sans";
	font-weight: 100;
	src: url("/common/fonts/Alegreya Sans 100.woff2") format("woff")
}

body { font: 400 16px/1.6 'Open Sans'; color: var(--textColor); background: var(--pageBg) }
::-webkit-scrollbar { background: var(--pageBgColor) }
::-webkit-scrollbar-thumb { background: var(--scrollThumb); border-radius: 6px }

#left { width: 230px; box-sizing: border-box; min-height: 80px; white-space: normal; vertical-align: top }
#mobileMenu { display: none }
@media (max-width: 768px) {
	#left { display: none }
	#mobileMenu { display: block }
}



/* ┌─────────────────╮
 * |Header           |
 * └─────────────────╯*/
#header { background: black; color: var(--darkText) }
#topMenu ul { margin: 0 80px 0 0; padding: 0; list-style-type: none; font-size: 80%; }
#topMenu ul li a { display: block; padding: 0 10px 0 10px; color: inherit; text-decoration: none }
#topMenu ul li a:hover { color:  var(--darkTextHighlight) }

/* Top image */
#banner1 { position: relative; max-height: 300px; min-height: 300px }
@media (max-width: 768px) { #banner1 { max-height: 150px; min-height: 150px } }
#banner1 > div { background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; height: 100% }

/* Caption */
#banner2 { border-top: 1px solid #222; padding: 2px 6px; font-size: 80%; text-align: right; color: var(--darkText);
	background: black; white-space: nowrap; overflow: hidden }
#banner2 :is(a, a:visited) { color: inherit; opacity: .7; text-decoration: none }
#banner2 a:is(:active, :hover) { text-decoration: underline }

.darkModeToggle { position: fixed; top: 0; padding: 0 0 5px 5px; right: 2px; z-index: 100;
	color: white; mix-blend-mode: difference; cursor: pointer  }
@media (max-width: 768px) { .darkModeToggle { top: 10px; right: 50px } }

/* ┌─────────────────╮
 * |Nav + TOC        |
 * └─────────────────╯*/
.bereanLogo { background: url('/common/img/site/berean-archive-logo.svg') no-repeat top left; background-size: contain }
.bereanLogoSmall { background: url('/common/img/site/berean-archive-small-logo.svg') no-repeat top left; background-size: contain }
[dark] .bereanLogoSmall { background-image: url('/common/img/site/berean-archive-small-logo-white.svg') }

.sliding-underline { display: inline-block; position: relative; padding-bottom: 5px }
.sliding-underline:after { content: ''; display: block; height: 5px; width: 0; margin: auto auto -5px auto;
	transition: width 0.2s ease, background-color 0.2s ease }
.sliding-underline.selected:after, .sliding-underline:hover:after { width: 100%; background: var(--navHighlight) }


#navScrollWithPage { position: sticky; bottom: 0; top: 0; width: 230px; box-sizing: border-box; overflow: hidden;
	margin-left: 0; margin-top: 0; color: var(--navColor) }

a#bereanLogo { display: table; margin: 20px auto 26px auto }
a#bereanLogo span { width: 155px; height: 50px; display: block; transition: width 0.3s linear, height 0.3s linear }

/* Site Map and This Article tabs.*/
#navScrollWithPage ul.tabs { list-style-type: none; margin: 0; padding: 0; text-align: center; font-weight: bold; color: var(--navColor) }
#navScrollWithPage li { display: inline-block; margin: 0 20px 0 0; padding: 0 }
#navScrollWithPage li:last-child { margin-right: 0 }
#navScrollWithPage a { text-decoration: none; color: var(--textColor); cursor: pointer }


/* Moves left or right depending on what tab is clicked.  Has a vertical scrollbar if contents don't fit. */
#navSlideContainer { font-size: 80%; white-space: nowrap; position: relative; width: 200%; height: 100%;
	transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); table-layout: fixed; margin-top: 0 }
#navSlideContainer > div { box-sizing: border-box; width: 50%; white-space: normal; overflow-y: auto;
	overflow-x: hidden; padding-bottom: 20px }

/* Site Map */
#navSiteMap { max-height: calc(100vh - 130px); padding-left: 10px }
#navSiteMap h3 { font-size: 15px; line-height: 1.3; margin: .5em 5px .5em 0; padding: 4px 7px; border-radius: 5px;
	background-color: var(--navH3Bg); box-shadow: 0 0 2px #0007 }


#navSiteMap ul { padding-left: 0; list-style-type: none }
#navSiteMap li { font-size: 13px; margin: 0 0 0 0.5em }
#navSiteMap li a { display: flex; align-items: center; text-decoration: none; color: var(--navColor2) ;line-height: 1.1 }
#navSiteMap li div { margin-bottom: 3px; vertical-align: middle }
#navSiteMap li img { border: 1px solid black; border-radius: 6px; margin-right: 6px }


/* This Article */
#navToc {  max-height: calc(100vh - 130px); padding-left: 10px; /* Leave room for highlighter */ font-size: 12px }
#navToc a { display: block; box-sizing: border-box; text-decoration: none; color: inherit; line-height: 110%; margin: .5em 0 .5em 0 }
#navToc a.h2:first-child { margin-top: 0.5em }
#navToc a.h2 { font-size: 13px; font-weight: bold; margin: 1em 5px .5em 0;
	 padding: 4px 7px; border-radius: 5px; background-color: var(--navH3Bg); box-shadow: 0 0 2px #0007 }
[dark] #navToc a.h2 { box-shadow: 0 0 5px black }

#navToc a.h3 { color: var(--navColor2); margin-left: 0.5em }
#navToc a.h4 { display: none }
#navToc a.h5 { display: none }
#navToc a.h3 + #navToc a.h4 { margin-top: -0.5em }

#navToc div.tocHighlight { position: absolute; width: 5px; height: 20px; background-color: var(--navHighlight); transition: all 0.3s ease }


/* ┌─────────────────╮
 * |Content          |
 * └─────────────────╯*/

/* Headers */
#content { position: relative; max-width: min(800px, 100%); padding: 20px; margin-left: 30px; background: var(--pageBgColor) }
@media (max-width: 768px) { #content { margin-left: 10px } }
@media (max-width: 512px) { #content { padding: 5px; margin-left: 0 } }

#content h1 {
	position: absolute; bottom: calc(100% + 30px); left: 20px; z-index: 3; margin: 0; width: calc(100% + 200px);
	font: 100 470%/1 'Alegreya Sans'; color: white;
	text-shadow:
			2px 0 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black,
			1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black, /* diagonal */
			0 0 4px black, 0 0 6px black, 0 0 8px black /* blur */ }
@media (max-width: 1340px) { #content h1 { width: calc(100vw - 300px) } }
@media (max-width: 768px) { #content h1 { font: 300 280%/1 'Open Sans'; left: 20px; width: calc(100vw - 40px) } }
@media (max-width: 512px) { #content h1 { font-size: 220%; left: 5px; width: calc(100vw - 25px) } }

#content h2 { display: table; color: var(--h2Color); font: 300 240%/125% 'Open Sans'; margin: 2em 0 0 0;
	border-bottom: 2px solid var(--h2Color);  letter-spacing: -0.01em }
#content h3 { margin: 1.5em 0 0 0; font: normal 24px/1.5 Cabin, sans-serif; color: var(--h3Color) }
#content h4 { color: var(--h4Color); font: bold 18px/1.2 'Open Sans'; margin: 1.5em 0 0 0;
	border-bottom: 2px solid var(--h4ColorUnderline); display: table }
#content h5 { color: var(--h4Color); font: normal 100% 'Open Sans'; margin: .75em 0 0 0; text-decoration: underline }

/* Misc Elements */
#content :is(a, a:visited) { color: var(--linkColor); text-decoration: none }
#content a:hover { text-decoration: underline }
#content :is(p, ol, ul, blockquote, .highlight) { margin: 1.2em 0 .25em 0 }
#content dfn { font-style: inherit; cursor: help; text-decoration: underline dotted var(--dfnColor); text-decoration-thickness: 2px }
#content label { font-weight: bold; font-size: 85% }
#content img { max-width: 100% }
#content sup { font-size: 12px }
[dark] #content :is(b, strong) { color: #ccc }
/*#content :is(input, textarea, button) { padding: 5px }*/


/* Quotes */
#content blockquote { position: relative; display: table; margin-top: .25em; padding: .6em .6em .6em 2.2em;
	border-radius: 5px; background: var(--quoteBg); font-size: 95%;  }
#content blockquote:before { position: absolute; font-family: Arial, sans-serif; content: '“'; height: 0; width: 0;
	line-height: 0; top: 0.5em; left: 0.1em; color: var(--quoteColor); font-size: 400%;
}
#content q { font-style: italic; font-weight: 200; font-family: inherit; font-size: 90%; display: block; margin-bottom: 10px }
#content q:before { content: '' }
#content q:after { content: '' }

/* Lists */
#content :is(ol, ul) { padding-left: 18px }
#content :is(ol, ul).highlight { padding-left: 2.2em; padding-bottom: .7em } /* Where is this used? */

#content li { padding: 0 0 1em .5em }
#content li:last-of-type { padding-bottom: 0 }
#content li p { margin-top: .5em }


#content li :is(ol, ul) { margin-bottom: .5em }

#content ol ol { list-style-type: lower-alpha; }


/* Reduce margin between some elements */
#content h1 + h2,
#content h2 + h3,
#content h3 + h4,
#content h2 + :is(p, blockquote, ol, ul),
#content h3 + :is(p, blockquote, ol, ul),
#content h4 + :is(p, blockquote, ol, ul),
#content p + blockquote,
#content aside + p { margin-top: 0 !important }


#content :is(h1, h2, h3, h4, h5, h6, blockquote, p):first-child { margin-top: 0 }
#content p:first-of-type { margin-top: 0 }
#content :is(h1, h2, h3, h4, h5, h6, blockquote, p):last-child { margin-bottom: 0 }

/* Tables */
#content table { font-size: inherit; line-height: inherit; width: 100%; border-collapse: collapse}
#content table :is(th, td) { text-align: left; vertical-align: top }
#content table th { vertical-align: bottom }
#content table td { vertical-align: top }



/* lines separating each row */
#content table.style1 { table-layout: fixed; margin-bottom: 1.5em;}
#content table.style1 :is(th, td) { padding: 5px 15px 5px 2px; border-bottom: 1px solid var(--tableBorder) }
#content table.style1 :is(th, td):last-child { padding-right: 0 }

#content table.style2 { margin-bottom: 1.5em;}
#content table.style2 :is(th, td) { padding: 5px 15px 5px 2px }
#content table.style2 :is(th, td):last-child { padding-right: 0 }


/* A two column table of quotes, with a portrait in the first column and the quote in the second. */
#content table.quotes { table-layout: fixed;}
#content table.quotes td:first-child { text-align: center; padding: 7px 0 20px 0; width: 20%;}
#content table.quotes img { width: 100%; border-radius: 10px; border: 1px solid black }

#content table.quotes td:nth-child(2) { padding: 0 0 20px 20px }

#content table.small { font-size: 85%; margin-left: 0; margin-top: 0 }



/* Footnotes */
#content .footnotes { font-size: 90%; line-height: 1.3; margin-left: 0; margin-top: 0 }
#content .footnotes li { padding-bottom: .5em }
#content .footnotes li ol { margin-top: .25em; margin-bottom: 0; padding-bottom: 0 }
#content .footnotes li li { font-size: 12px; line-height: 1.2; color: var(--smallColor) }

/* Useful classes */
#content p.compact { margin: 0 }
#content :is(ol, ul).compact li { padding-bottom: 0.1em }
#content small { display: table }
#content small,
#content :is(p, ol, ul).small { font-size: 12px; color: var(--smallColor); line-height: 1.2 }
#content img.rounded { border-radius: 10px; border: 1px solid black }
#content .highlight { background-color: var(--highlightBg); border: 1px dashed var(--highlightBorder);
	border-radius: 5px; padding: 0.5em 0.4em 0.2em 1em; display: table }
#content .highlight h4 { margin-top: 0 }

#content div.companionArticle { display: flex; margin: 1.5em 0 1.5em 0; background-color: var(--companionBg); border: 1px dashed var(--companionBorder);
	border-radius: 5px; padding: 0.5em 0.4em 0.5em .5em; color: var(--companionColor) }
#content div.companionArticle img { width: 90px; height: 90px; margin-right: 12px; border: 1px solid var(--imgBorder); border-radius: 12px }

#content .wide { width: calc(100% + 290px); max-width: initial; position: relative; z-index: 0; background-color: var(--pageBg);
	border-top-right-radius: 12px; border-bottom-right-radius: 12px }
	/* Width of right sidebar (30px right margin, 30px right padding, 230px sidebar width) */
@media (max-width: 1340px) { #content .wide { width: 100% } }
[dark] #content img.inverted { filter: invert(89.8%) hue-rotate(180deg) }

/* Home page Items */
#content div.item { display: flex; margin: 5px 0 15px 0 }
#content div.item img { min-width: 90px; height: 90px; margin-right: 12px; border: 1px solid var(--imgBorder); border-radius: 12px }
#content div.item h4 { margin: 0; border-bottom: none }



/* Asides */
#content aside { position: absolute; clear: right; left: calc(100% + 30px); min-width: 180px; max-width: 230px; width: 100%;
	font-size: 85%; line-height: 1.4; z-index: 1; color: var(--smallColor) }
#content aside img { max-width: 100% }
#content aside ol li:before { color: inherit } /* override gray color */

#content aside.companionArticle { box-sizing: border-box; background-color: var(--companionBg); border: 1px dashed var(--companionBorder);
	border-radius: 5px; padding: .5em .5em .4em .5em !important; color: var(--companionColor) }
#content aside.companionArticle img { border: 1px solid var(--imgBorder); border-radius: 10px } /* Same as img rounded. */
@media (max-width: 1340px) { /* Move asides within #content */
	#content aside { position: relative; z-index: 1; float: right; left: 0; padding: 0 5px 0 10px; margin-left: 20px; margin-bottom: 10px }
}

/* Added by Parsedown.*/
#content div.footnotes hr,
#content .footnote-backref { display: none }

div.footnotes { padding-left: 15px } /* Make room for list numbers */
div.footnotes:not(.expanded) { max-height: 150px; overflow: auto }




/* ┌─────────────────╮
 * |Footer           |
 * └─────────────────╯*/
#footer3 { background: black; color: var(--darkText); text-align: center; box-sizing: border-box; padding: 30px 20%; font-size: 80% }
#footer3 :is(a, a:visited) { color: var(--darkTextLink); text-decoration: none }
#footer3 a:is(:active, :hover) { text-decoration: underline }
#footer3 p { line-height: 1.2 }




/* Table cell widths that can be specified in markdown
 * TODO: Have the markdown engine supported nested css selectors instead? */
#content table.td1-10 :is(th, td):nth-child(1),
#content table.td2-10 :is(th, td):nth-child(2),
#content table.td3-10 :is(th, td):nth-child(3),
#content table.td4-10 :is(th, td):nth-child(4),
#content table.td5-10 :is(th, td):nth-child(5),
#content table.td6-10 :is(th, td):nth-child(6),
#content table.td7-10 :is(th, td):nth-child(7),
#content table.td8-10 :is(th, td):nth-child(8) { width: 10% }

#content table.td1-20 :is(th, td):nth-child(1),
#content table.td2-20 :is(th, td):nth-child(2),
#content table.td3-20 :is(th, td):nth-child(3),
#content table.td4-20 :is(th, td):nth-child(4),
#content table.td5-20 :is(th, td):nth-child(5),
#content table.td6-20 :is(th, td):nth-child(6),
#content table.td7-20 :is(th, td):nth-child(7),
#content table.td8-20 :is(th, td):nth-child(8) { width: 20% }

#content table.td1-25 :is(th, td):nth-child(1),
#content table.td2-25 :is(th, td):nth-child(2),
#content table.td3-25 :is(th, td):nth-child(3),
#content table.td4-25 :is(th, td):nth-child(4),
#content table.td5-25 :is(th, td):nth-child(5),
#content table.td6-25 :is(th, td):nth-child(6),
#content table.td7-25 :is(th, td):nth-child(7),
#content table.td8-25 :is(th, td):nth-child(8) { width: 25% }

#content table.td1-33 :is(th, td):nth-child(1),
#content table.td2-33 :is(th, td):nth-child(2),
#content table.td3-33 :is(th, td):nth-child(3),
#content table.td4-33 :is(th, td):nth-child(4),
#content table.td5-33 :is(th, td):nth-child(5),
#content table.td6-33 :is(th, td):nth-child(6),
#content table.td7-33 :is(th, td):nth-child(7),
#content table.td8-33 :is(th, td):nth-child(8) { width: 33.333% }

#content table.td1-40 :is(th, td):nth-child(1),
#content table.td2-40 :is(th, td):nth-child(2),
#content table.td3-40 :is(th, td):nth-child(3),
#content table.td4-40 :is(th, td):nth-child(4),
#content table.td5-40 :is(th, td):nth-child(5),
#content table.td6-40 :is(th, td):nth-child(6),
#content table.td7-40 :is(th, td):nth-child(7),
#content table.td8-40 :is(th, td):nth-child(8) { width: 40% }

#content table.td1-50 :is(th, td):nth-child(1),
#content table.td2-50 :is(th, td):nth-child(2),
#content table.td3-50 :is(th, td):nth-child(3),
#content table.td4-50 :is(th, td):nth-child(4),
#content table.td5-50 :is(th, td):nth-child(5),
#content table.td6-50 :is(th, td):nth-child(6),
#content table.td7-50 :is(th, td):nth-child(7),
#content table.td8-50 :is(th, td):nth-child(8) { width: 50% }

#content table.td1-60 :is(th, td):nth-child(1),
#content table.td2-60 :is(th, td):nth-child(2),
#content table.td3-60 :is(th, td):nth-child(3),
#content table.td4-60 :is(th, td):nth-child(4),
#content table.td5-60 :is(th, td):nth-child(5),
#content table.td6-60 :is(th, td):nth-child(6),
#content table.td7-60 :is(th, td):nth-child(7),
#content table.td8-60 :is(th, td):nth-child(8) { width: 60% }

#content table.td1-66 :is(th, td):nth-child(1),
#content table.td2-66 :is(th, td):nth-child(2),
#content table.td3-66 :is(th, td):nth-child(3),
#content table.td4-66 :is(th, td):nth-child(4),
#content table.td5-66 :is(th, td):nth-child(5),
#content table.td6-66 :is(th, td):nth-child(6),
#content table.td7-66 :is(th, td):nth-child(7),
#content table.td8-66 :is(th, td):nth-child(8) { width: 66.666% }

#content table.td1-75 :is(th, td):nth-child(1),
#content table.td2-75 :is(th, td):nth-child(2),
#content table.td3-75 :is(th, td):nth-child(3),
#content table.td4-75 :is(th, td):nth-child(4),
#content table.td5-75 :is(th, td):nth-child(5),
#content table.td6-75 :is(th, td):nth-child(6),
#content table.td7-75 :is(th, td):nth-child(7),
#content table.td8-75 :is(th, td):nth-child(8) { width: 75% }

#content table.td1-80 :is(th, td):nth-child(1),
#content table.td2-80 :is(th, td):nth-child(2),
#content table.td3-80 :is(th, td):nth-child(3),
#content table.td4-80 :is(th, td):nth-child(4),
#content table.td5-80 :is(th, td):nth-child(5),
#content table.td6-80 :is(th, td):nth-child(6),
#content table.td7-80 :is(th, td):nth-child(7),
#content table.td8-80 :is(th, td):nth-child(8) { width: 80% }

#content table.td1-90 :is(th, td):nth-child(1),
#content table.td2-90 :is(th, td):nth-child(2),
#content table.td3-90 :is(th, td):nth-child(3),
#content table.td4-90 :is(th, td):nth-child(4),
#content table.td5-90 :is(th, td):nth-child(5),
#content table.td6-90 :is(th, td):nth-child(6),
#content table.td7-90 :is(th, td):nth-child(7),
#content table.td8-90 :is(th, td):nth-child(8) { width: 90% }