<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine on
	RewriteBase /

	# Make the .php extension optional.
	# If there exists a filename.php that matches the requested path, and the url doesn't end with /, then use filename.php.
	# TODO: this 500's from too many redirects if requesting products/a.php and products.php exists but products/a.php doesn't exist.
	# It seems to happen because it first processes /products ?
	# TODO: If a file and a directory have the same name, prefer the filename, unless the directory has an index.php
	# TODO: Experiment with RewriteRule /^(.*)$ $1.php [L,QSA] (has a leading slash)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME}.php -f
	RewriteCond %{REQUEST_URI} !/$
	RewriteRule ^(.*)$ $1.php [L,QSA]

	# Map all image resize commands to the image resizer
	RewriteCond %{QUERY_STRING} (^|&)w=|(^|&)h=|(^|&)s=|(^|&)format=
	ReWriteRule ^(.*)\.(jpg|jpeg|png|gif|webp)$ /sitecrafter/lib/tools/resize-image.php [NC,QSA]

	# Map ?build and jsx/ts/tsx to build.php
	RewriteCond %{QUERY_STRING} (^|&)(build|min)
	ReWriteRule ^(.*)\.(css|js)$ /sitecrafter/lib/tools/build.php [NC,QSA]
	ReWriteRule ^(.*)\.(jsx|ts|tsx)$ /sitecrafter/lib/tools/build.php [NC,QSA]

	# Map url's ending in .md to the markdown compiler.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME}.md -f
    RewriteRule (.*) common/tools/md2html.php?$1.md [QSA]

    # Old:

	# Map all url's that end in .less to the .less compiler.
	ReWriteRule ^(.*)\.less$ /common/tools/less.php?$1.less [nc,QSA]
</IfModule>

# Don't allow downloading sqlite3 files that may have sensitive content.
RedirectMatch 404 \.sqlite3$


